<!DOCTYPE html>
<html>
<head>
	<title>Hungry Lone Wolf</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> 
	<div class="container">
		<div class="row">
			<button class="exit-btn"><a href="/#portfolio-section">x</a></button>
		</div>
		<div class="row">
			<div class="text-center">
				<img class="page-icon" src='assets/images/Hungry Lone Wolf.png'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Overview</h1>
				<div class=overview-content>
					<p>Afraid to eat alone or have no one to try out the new hot restaurant with ? Hungry Lone Wolf is the perfect solution for you. This node application allows users to find others around the area to share a meal with. A user's ideal meal buddy is selected via 6 survey questions, including date, time, location, gender preference, age preference, and cuisine preference. The ideal meal buddy's profile must fit exactly to the user's answers to the first 5 questions and have at least 1 shared cuisine prefrence (user can select multiple). Once the ideal candidates are filtered out, they are pushed to an array every time they have a shared cuisine preferenece with the user (weighted probability). Finally, a random number is generated, and the candidate at that array index will be selected as the ideal date. This web app includes the functionality for users to email their date, view upcoming dates, and view past dates.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Demo</h1>
					<iframe class="demo"
						src="https://www.youtube.com/embed/Xm8e5OuWj4U?autoplay=1">
					</iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Tech Highlights</h1>
					<p class="tech-content">
						Express.js | Bootstrap | Google Maps API | Sequelize | MySQL | JawsDB | Handlebars | Passport.js | Helper Date 
					</p>
			</div>
		</div>

	</div>

	<footer>
	  <p>&copy 2017, Lawrence Liu. All Rights Reserved.</p>
	  <a href="https://github.com/lawrencel13110123" target="_blank"><img src="/assets/images/github.png" class="professional-logo"></a>
	  <a href="https://www.linkedin.com/in/lawrenceliu1/" target="_blank"><img src="/assets/images/linkedin.png" class="professional-logo"></a>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/javascript/javascript.js"></script>
</body>
</html>