<!DOCTYPE html>
<html>
<head>
	<title>Liri Bot</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> 
	<div class="container">
		<div class="row">
			<button class="exit-btn"><a href="/#portfolio-section">x</a></button>
		</div>
		<div class="row">
			<div class="text-center">
				<img class="page-icon" src='assets/images/Liri Bot.png'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Overview</h1>
				<div class=overview-content>
					<p>Liri is like iPhone's Siri. However, while Siri is a Speech Interpretation and Recognition Interface, Liri is a Language Interpretation and Recognition Interface. Liri will be a command line Node.js app that takes in parameters and gives you back data. Users can give these commands:</p>
					<ul>
						<li>node liri.js my-tweets</li>
							<ul>
								<li>returns top 20 tweets from CNN</li>
							</ul>
						<li>node liri.js spotify-this-song 'song name'</li>
							<ul>
								<li>returns information on all the songs that matches the 'song name'</li>
							</ul>
						<li>node liri.js movie-this 'movie name'</li>
							<ul>
								<li>returns a movie that matches the 'movie name'</li>
							</ul>
						<li>node liri.js do-what-it-says</li>
							<ul>
								<li>runs the command in random.txt</li>
								<li>presets to run spotify-this-song for "I Want it That Way"</li>
							</ul>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Demo</h1>
					<video  class= "demo" controls autoplay>
					  <source src="/assets/videos/liribot.mp4">
					</video>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Tech Highlights</h1>
					<p class="tech-content">
						Fs | Request  | Node Spotify API | Twitter API | OMDB API 
					</p>
			</div>
		</div>

	</div>

	<footer>
	  <p>&copy 2017, Lawrence Liu. All Rights Reserved.</p>
	  <a href="https://github.com/lawrencel13110123" target="_blank"><img src="/assets/images/github.png" class="professional-logo"></a>
	  <a href="https://www.linkedin.com/in/lawrenceliu1/" target="_blank"><img src="/assets/images/linkedin.png" class="professional-logo"></a>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/javascript/javascript.js"></script>
</body>
</html>