<!DOCTYPE html>
<html>
<head>
	<title>Node Flashcard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> 
	<div class="container">
		<div class="row">
			<button class="exit-btn"><a href="/#portfolio-section">x</a></button>
		</div>
		<div class="row">
			<div class="text-center">
				<img class="page-icon" src='assets/images/Node Flashcard.png'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Overview</h1>
				<div class=overview-content>
					<p>Node Flashcard is a Node.js CLI application that utilizes the Inquirer npm package to prompt user a series of flashcard questions and answers. User also has the option to add custom questions after the first round of the game. The application has two versions: basic-card-game.js and cloze-card-game.js. The basic version has questions in this format: "Who is the first president of United States ?" The cloze version has questions in this format: "...is the first president of United States."</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Demo</h1>
					<iframe class="demo"
						src="https://www.youtube.com/embed/cwnfKUxDCzk?autoplay=1">
					</iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Tech Highlights</h1>
					<p class="tech-content">
						Inquirer | Constructor Function
					</p>
			</div>
		</div>

	</div>

	<footer>
	  <p>&copy 2017, Lawrence Liu. All Rights Reserved.</p>
	  <a href="https://github.com/lawrencel13110123" target="_blank"><img src="/assets/images/github.png" class="professional-logo"></a>
	  <a href="https://www.linkedin.com/in/lawrenceliu1/" target="_blank"><img src="/assets/images/linkedin.png" class="professional-logo"></a>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/javascript/javascript.js"></script>
</body>
</html>