<!DOCTYPE html>
<html>
<head>
	<title>Restawant</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> 
	<div class="container">
		<div class="row">
			<button class="exit-btn"><a href="/#portfolio-section">x</a></button>
		</div>
		<div class="row">
			<div class="text-center">
				<img class="page-icon" src='assets/images/Restawant.png'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Overview</h1>
					<div class="overview-content">
						<p>RestaWant takes social media marketing for restaurants to the next level with trackable QR Code Promotions and streamlined business-to-influencer cooperation. Businesses can skip the grunt work in finding and contacting influencers, while influencers of all sizes can easily help promote their favorite restaurants for cash rewards.</p>
						<p>In today’s dynamic business environment, where marketing are becoming more and more important, small businesses need a way to efficiently communicate their brand statements. By enabling influencers to search and promote restaurants around them within a couple minutes, Restawant makes influencer marketing easily accessible for establishments from small restaurants to hip cafes. Businesses no longer need thousands of dollars to launch a social media campaign, but at the same time can have several hundreds of influencers and customers promoting for them. For influencers and regular food enthusiasts alike, it is extremely easy to sign up as a promoter and start earning income today by doing what they already do everyday - sharing food that they like online.</p>
					</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Demo</h1>
					<video  class= "demo" controls autoplay>
					  <source src="/assets/videos/restawant.mp4">
					</video>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Tech Highlights</h1>
					<p class="tech-content">
						React 4 | React Routing | ES6 | Express.js | Bootstrap | QRickit API | Yelp API | Google Places Library | Sequelize | MySQL | JawsDB | Passport.js | Moment.js 
					</p>
			</div>
		</div>

	</div>

	<footer>
	  <p>&copy 2017, Lawrence Liu. All Rights Reserved.</p>
	  <a href="https://github.com/lawrencel13110123" target="_blank"><img src="/assets/images/github.png" class="professional-logo"></a>
	  <a href="https://www.linkedin.com/in/lawrenceliu1/" target="_blank"><img src="/assets/images/linkedin.png" class="professional-logo"></a>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/javascript/javascript.js"></script>
</body>
</html>