<!DOCTYPE html>
<html>
<head>
	<title>Train Scheduler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body> 
	<div class="container">
		<div class="row">
			<button class="exit-btn"><a href="/#portfolio-section">x</a></button>
		</div>
		<div class="row">
			<div class="text-center">
				<img class="page-icon" src='assets/images/Train Scheduler.png'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Overview</h1>
				<div class=overview-content>
					<p>Train Scheduler allows user to add and remove trains from their train schedule by using Firebase as database.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Demo</h1>
					<video  class= "demo" controls autoplay>
					  <source src="/assets/videos/trainscheduler.mp4">
					</video>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Tech Highlights</h1>
					<p class="tech-content">
						Firebase | Bootstrap
					</p>
			</div>
		</div>

	</div>

	<footer>
	  <p>&copy 2017, Lawrence Liu. All Rights Reserved.</p>
	  <a href="https://github.com/lawrencel13110123" target="_blank"><img src="/assets/images/github.png" class="professional-logo"></a>
	  <a href="https://www.linkedin.com/in/lawrenceliu1/" target="_blank"><img src="/assets/images/linkedin.png" class="professional-logo"></a>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/javascript/javascript.js"></script>
</body>
</html>